<aside class="social">
  <ul class="social-list">
    <li>
      <a href="#"><i class="social-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="social-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="social-linkedin"></i></a>
    </li>
  </ul>
</aside>

<aside class="links">
  <ul class="links-list">
    <li><a href="#"><%= __('AboutUs') %></a></li>
    <li><a href="#"><%= __('FAQS') %></a></li>
    <li><a href="#"><%= __('Contact') %></a></li>
    <li><a href="#"><%= __('TermsAndCond') %></a></li>
    <li><a href="#"><%= __('PersonalData') %></a></li>
  </ul>
</aside>
