<nav class="navbar">
  <div class="logo">
    <a id="logo-link" href="#">
      <img src="/images/db-icon_2_resized.png" alt="Avatar Diana" />
    </a>
  </div>

  <div class="left-menu">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="#"><%= __('Home') %></a></li>
      <li class="navbar-item">
        <a id="categories" href="#"><%= __('Categoríes') %></a>
      </li>
      <li class="navbar-item">
        <% getLocales().forEach( locale => { %>
        <a href="/change-locale/<%= locale %>"><%= locale %></a>
        <% }) %>
      </li>
      <li class="navbar-item"><a href="#"><%= __('Favs') %></a></li>
    </ul>
  </div>

  <div class="right-menu">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a id="search-link" href="#">
          <img src="/images/baseline_search_white_24dp.png" alt="Search Icon" />
        </a>
      </li>
      <% if (!user) { %>
      <li class="navbar-item">
        <a id="login" href="/login"><%= __('SignIn') %></a>
      </li>
      <% } else { %>
      <li class="navbar-item">
        <a id="login" href="/login"><%= __('SignOut') %></a>
      </li>
      <% } %>
      <li class="navbar-item">
        <a id="sign-up" href="#"><%= __('SignUp') %></a>
      </li>
      <li id="user-icon" class="navbar-item">
        <a href="login.html"><img src="/images/user-icon-40.png" alt=""/></a>
      </li>
    </ul>
  </div>
</nav>
