<nav class="navbar">
  <div class="logo">
    <a id="logo-link" href="/">
      <img src="/images/db-icon_2_resized.png" alt="Avatar Diana" />
    </a>
  </div>

  <div class="left-menu">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item">
        <a id="categories" href="#">Categorías</a>
      </li>
      <li class="navbar-item">
        <a id="most-recent" href="#">Más recientes</a>
      </li>
      <li class="navbar-item"><a href="#">Mis favoritos</a></li>
    </ul>
  </div>

  <div class="right-menu">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a id="search-link" href="#">
          <img src="/images/baseline_search_white_24dp.png" alt="Search Icon" />
        </a>
      </li>
      <li class="navbar-item">
        <a id="login" href="login.html">ENTRAR</a>
      </li>
      <li class="navbar-item">
        <a id="sign-up" href="login.html">REGISTRARSE</a>
      </li>
      <li id="user-icon" class="navbar-item">
        <a href="login.html"><img src="/images/user-icon-40.png" alt=""/></a>
      </li>
    </ul>
  </div>
</nav>
