<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    <title>Dartflix</title>
  </head>
  <body>
    <div class="login-box">
      <img src="/images/db-icon_2_resized.png" alt="Avatar Diana" class="avatar-diana" />
      <h1><%= __('Access') %></h1>
      <form class="login-form" method="POST">
        <p><%= __('User') %></p>
        <input type="text" name="email" placeholder="<%= __('UserIntro') %>" />
        <p><%= __('Password') %></p>
        <input type="password" name="password" placeholder="<%= __('PassIntro') %>" />
        <input type="submit" value="<%= __('Access') %>" />
        <a href="#"><%= __('ForgotPassword') %></a><br />
        <a href="#"><%= __('NotAccount') %></a><br />
        <% getLocales().forEach( locale => { %>
        <a href="/change-locale/<%= locale %>"><%= locale %></a>
        <% }) %>
      </form>
    </div>
  </body>
</html>
